/*@font-face {
    font-family: 'futurateemedconregular';
    src: url('font/futurateemedconregular.eot');
    src: url('font/futurateemedconregular.eot?#iefix') format('embedded-opentype'),
         url('font/futurateemedconregular.woff2') format('woff'),
		 url('font/futurateemedconregular.woff') format('woff'),
         url('font/futurateemedconregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}*/
