@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap');

html,body {font-family: 'Noto Sans TC', 微軟正黑體, 'Microsoft JhengHei', Arial, sans-serif, simsun;}
.chi{font-weight:normal;font-family: 'Noto Sans TC', 微軟正黑體, 'Microsoft JhengHei', Arial, sans-serif, simsun;}

/*style.css*/

