@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");
html, body {
  font-family: 'Noto Sans SC', 微軟正黑體, 'Microsoft JhengHei', Arial, sans-serif, simsun; }

.SMG {
  font-family: 'perpetua', 'Noto Sans SC', 微軟正黑體, 'Microsoft JhengHei', Arial, sans-serif, simsun; }

.chi {
  font-weight: normal;
  font-family: 'Noto Sans SC', 微軟正黑體, 'Microsoft JhengHei', Arial, sans-serif, simsun; }

/*#footerWrapper #footerContent > div:nth-child(1) > *:nth-child(3){flex: auto;}*/
/*style.css*/
nav ul li ul li.sub-7 > a:before {
  top: -24px; }

/*appartment*/
section#appartment div.swiper-container.SMG ul {
  height: 116px; }

/*virtual.css*/
section#virtual div.control {
  margin-bottom: 55px; }

section#virtual div.swiper-container ol {
  height: 116px; }

section#virtual button.scroll2bottom {
  bottom: 148px; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic2MuY3NzIiwic291cmNlcyI6WyJzYy5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgdXJsKCdodHRwczovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2NzczI/ZmFtaWx5PU5vdG8rU2FucytTQyZkaXNwbGF5PXN3YXAnKTtcclxuXHJcbmh0bWwsYm9keSB7Zm9udC1mYW1pbHk6ICdOb3RvIFNhbnMgU0MnLCDlvq7ou5/mraPpu5Hpq5QsICdNaWNyb3NvZnQgSmhlbmdIZWknLCBBcmlhbCwgc2Fucy1zZXJpZiwgc2ltc3VuO31cclxuLlNNR3tmb250LWZhbWlseTogJ3BlcnBldHVhJywgJ05vdG8gU2FucyBTQycsIOW+rui7n+ato+m7kemrlCwgJ01pY3Jvc29mdCBKaGVuZ0hlaScsIEFyaWFsLCBzYW5zLXNlcmlmLCBzaW1zdW47fVxyXG4uY2hpe2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LWZhbWlseTogJ05vdG8gU2FucyBTQycsIOW+rui7n+ato+m7kemrlCwgJ01pY3Jvc29mdCBKaGVuZ0hlaScsIEFyaWFsLCBzYW5zLXNlcmlmLCBzaW1zdW47fVxyXG4vKiNmb290ZXJXcmFwcGVyICNmb290ZXJDb250ZW50ID4gZGl2Om50aC1jaGlsZCgxKSA+ICo6bnRoLWNoaWxkKDMpe2ZsZXg6IGF1dG87fSovXHJcblxyXG4vKnN0eWxlLmNzcyovXHJcbm5hdiB1bCBsaSB1bCBsaS5zdWItNyA+IGE6YmVmb3Jle3RvcDotMjRweDt9XHJcblxyXG4vKmFwcGFydG1lbnQqL1xyXG5zZWN0aW9uI2FwcGFydG1lbnQgZGl2LnN3aXBlci1jb250YWluZXIuU01HIHVse2hlaWdodDoxMTZweDt9XHJcblxyXG4vKnZpcnR1YWwuY3NzKi9cclxuc2VjdGlvbiN2aXJ0dWFsIGRpdi5jb250cm9se21hcmdpbi1ib3R0b206NTVweDt9XHJcbnNlY3Rpb24jdmlydHVhbCBkaXYuc3dpcGVyLWNvbnRhaW5lciBvbHtoZWlnaHQ6MTE2cHg7fVxyXG5zZWN0aW9uI3ZpcnR1YWwgYnV0dG9uLnNjcm9sbDJib3R0b217Ym90dG9tOjE0OHB4O31cclxuXHJcbiJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiO0FBQUEsT0FBTyxDQUFDLHlFQUFJO0FBRVosQUFBQSxJQUFJLEVBQUMsSUFBSSxDQUFDO0VBQUMsV0FBVyxFQUFFLDJFQUEyRSxHQUFHOztBQUN0RyxBQUFBLElBQUksQ0FBQTtFQUFDLFdBQVcsRUFBRSx1RkFBdUYsR0FBRzs7QUFDNUcsQUFBQSxJQUFJLENBQUE7RUFBQyxXQUFXLEVBQUMsTUFBTTtFQUFDLFdBQVcsRUFBRSwyRUFBMkUsR0FBRzs7QUFDbkgsa0ZBQWtGO0FBRWxGLGFBQWE7QUFDYixBQUFBLEdBQUcsQ0FBQyxFQUFFLENBQUMsRUFBRSxDQUFDLEVBQUUsQ0FBQyxFQUFFLEFBQUEsTUFBTSxHQUFHLENBQUMsQUFBQSxPQUFPLENBQUE7RUFBQyxHQUFHLEVBQUMsS0FBSyxHQUFHOztBQUU3QyxjQUFjO0FBQ2QsQUFBQSxPQUFPLEFBQUEsV0FBVyxDQUFDLEdBQUcsQUFBQSxpQkFBaUIsQUFBQSxJQUFJLENBQUMsRUFBRSxDQUFBO0VBQUMsTUFBTSxFQUFDLEtBQUssR0FBRzs7QUFFOUQsZUFBZTtBQUNmLEFBQUEsT0FBTyxBQUFBLFFBQVEsQ0FBQyxHQUFHLEFBQUEsUUFBUSxDQUFBO0VBQUMsYUFBYSxFQUFDLElBQUksR0FBRzs7QUFDakQsQUFBQSxPQUFPLEFBQUEsUUFBUSxDQUFDLEdBQUcsQUFBQSxpQkFBaUIsQ0FBQyxFQUFFLENBQUE7RUFBQyxNQUFNLEVBQUMsS0FBSyxHQUFHOztBQUN2RCxBQUFBLE9BQU8sQUFBQSxRQUFRLENBQUMsTUFBTSxBQUFBLGNBQWMsQ0FBQTtFQUFDLE1BQU0sRUFBQyxLQUFLLEdBQUcifQ== */
